:root {
	/* Changes the primary theme color to purple using primitives */
	--sl-color-primary-50: var(--sl-color-purple-50);
	--sl-color-primary-100: var(--sl-color-purple-100);
	--sl-color-primary-200: var(--sl-color-purple-200);
	--sl-color-primary-300: var(--sl-color-purple-300);
	--sl-color-primary-400: var(--sl-color-purple-400);
	--sl-color-primary-500: var(--sl-color-purple-500);
	--sl-color-primary-600: var(--sl-color-purple-600);
	--sl-color-primary-700: var(--sl-color-purple-700);
	--sl-color-primary-800: var(--sl-color-purple-800);
	--sl-color-primary-900: var(--sl-color-purple-900);
	--sl-color-primary-950: var(--sl-color-purple-950);
}

body {
	margin: 0;
}

#map {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	z-index: 1;
	background: #ffffff;
}

.map-container {
	height: 100%;
}

.leaflet-container {
	height: 900px;
	width: 1500px;
	max-height: 100%;
	max-width: 100%;
	contain: content;
}

.leaflet-popup-content p {
	margin: 0;
}

.leaflet-popup-content small {
	margin: 6px 0;
}

.marker-title {
	font-size: 1.2em;
	font-weight: bold;
	margin: 2px auto;
}

.marker-icon {
	width: 32px;
	height: 32px;
}

.sidepanel {
	position: absolute;
	top: 0;
	height: 100%;
}

.sidepanel-tab-content {
	margin-top: -1em;
}

.sidepanel label.section-title {
	font-size: 1.4em;
	margin: 1.2em 0 0;
	font-weight: bold;
}

ul {
	padding-left: 1em;
	margin-top: 0;
	margin-bottom: 1em;
}

li {
	list-style: none;
	line-height: 2;
}

li input {
	margin-right: 0.5em;
}

.collectible-toggles {
	display: flex;
	flex-direction: column;
}

.spawn-buttons {
	display: flex;
}

.hover-red:hover {
	color: #ba3329;
}

.purple {
	background-color: rgb(139, 55, 168);
	color: white;
}