@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.dark .leaflet-popup-content-wrapper, .dark .leaflet-popup-tip {
    background: rgba(var(--color-surface-700) / 1) !important;
    color: rgba(var(--color-on-surface-700) /1) !important;
}